<% provide :title, t("admin.books.edit") %>
<% provide :button_text, t("admin.books.update") %>
<%= render "admin/static_pages/layout" %>
  <content class="col-md-6 content">
    <h2><%= t "admin.books.update" %></h2>
    <div class="row">
      <div class="col-md-12">
        <%= render "form" %>
      </div>
    </div>
  </content>
</div>
