<% provide :title, @request.book_name %>
<div class="margin-top">
  <div class="row">
    <div class="col-md-2">
      <%= render "layouts/menu" %>
    </div>
    <div class="col-md-10">
      <%= render "shared/flash" %>
      <div class="row">
        <div><%= render @request.book %></div>
        <div class="col-md-6"><%= render "form" %></div>
      </div>
    </div>
  </div>
</div>
