@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');

$bg-defoult: #222;
$border-active: #dedede;

a:hover{
  text-decoration: none;
}
/***********************  TOP Bar ********************/
.admin{
  margin-top: 3em;
}
.sidebar{
  width: 220px;
  height: 30em;
  background-color: black;
  transition: all 0.5s ease-in-out;
}
.bg-defoult{
  background-color: $bg-defoult;
}
.sidebar ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.sidebar li a,.sidebar li a.collapsed.active{
  display: block;
  padding: 8px 12px;
  color: white;
  border-left: 0px solid $border-active;
  text-decoration: none
}
.sidebar li a:hover{
  background-color: black !important;
}
.sidebar li a i{
  padding-right: 5px;
}
.sidebar ul li .sub-menu li a:before{
  font-family: FontAwesome;
  content: '\f105';
  display: inline-block;
  padding-left: 0px;
  padding-right: 10px;
  vertical-align: middle;
}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{
  font-size: 11px;
  transition: all 0.5s ease-in-out;
}
.user-panel{
  color: white;
  clear: left;
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border-bottom: 2px solid;
}
.user-panel>.info>p{
  font-weight: 600;
}
.img-book{
  width: 90%;
}
