<% provide :title, t("admin.categories.new") %>
<% provide :button_text, t("admin.categories.create") %>
<%= render "admin/static_pages/layout" %>
  <content class="col-md-6 content">
    <h2><%= t "admin.categories.create" %></h2>
    <div class="row">
      <div class="col-md-12">
        <%= render "form" %>
      </div>
    </div>
  </content>
</div>
